#allPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

#allPosts > h1 {
  margin-bottom: 2rem;
}

#allPosts > button {
  margin-bottom: 2rem;
}

#allPosts-list {
  width: 95vw;
}


/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  #allPosts-list {
    width: 75vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  #allPosts-list {
    width: 55vw;
  }
}