.usersList-user {
  padding: 1rem;
}

.usersList-user-username > button {
  padding: 0;
  border: none;
  background: none;
  font-size: 1.5rem;
}

.usersList-user-username > button:hover {
  font-weight: bold;
}

.usersList-user-date {
  font-size: 0.9rem;
  font-style: italic;
}