#navigationbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  background-color: var(--theme-color-1);
  color: white;
  z-index: 100;
}

/* Logo */
#navigationbar-logo {
  margin-left: 1rem;
}

#navigationbar-logo > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Links */
#navigationbar-toggle {
  margin-right: 1rem;
  border: none;
}

#navigationbar-toggle:focus,
#navigationbar-toggle:active,
#navigationbar-toggle:focus {
    outline: none;
    box-shadow: none;
}

#navigationbar-links a {
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

#navigationbar-links button {
  padding: 0.5rem 1rem;
  background: none;
  color: white;
  border: none;
}

/* Bootstrap */
#responsive-navbar-nav {
  background-color: var(--theme-color-1);
}