<div class="row align-items-center about">
  <div class="col-12">
    <h1 class="text-center font-custom">About</h1>
  </div>
</div>

<div class="container">
  <div class="row about-sections shadow-lg">
    <div class="col-md-6 p-0">
      <%= image_tag "home.jpg", class: "img-fluid img-thumbnail" %>
    </div>
    <div class="col-md-6 align-self-center px-4">
      <h4 class="text-center">Lorem ipsum dolor sit amet</h4>
      <p>Donec laoreet velit vel eros tincidunt, vitae lacinia lorem placerat. Etiam commodo odio sed nisi fermentum venenatis. Sed ac ultricies nunc, vel venenatis ante. Quisque commodo placerat metus, in convallis quam interdum in. Suspendisse dapibus fringilla fringilla. In hac habitasse platea dictumst.</p>
    </div>
  </div>
  <div class="row about-sections shadow-lg">
    <div class="col-md-6 align-self-center px-4">
      <h4 class="text-center">Lorem ipsum dolor sit amet</h4>
      <p>Donec laoreet velit vel eros tincidunt, vitae lacinia lorem placerat. Etiam commodo odio sed nisi fermentum venenatis. Sed ac ultricies nunc, vel venenatis ante. Quisque commodo placerat metus, in convallis quam interdum in. Suspendisse dapibus fringilla fringilla. In hac habitasse platea dictumst.</p>
    </div>
    <div class="col-md-6 p-0">
      <%= image_tag "home.jpg", class: "img-fluid img-thumbnail" %>
    </div>
  </div>
</div>