<div class="row align-items-center about">
  <div class="col-12">
    <h1 class="text-center">About</h1>
  </div>
</div>

<div class="container">
  <div class="row about-sections">
    <div class="col-md-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet velit vel eros tincidunt, vitae lacinia lorem placerat. Etiam commodo odio sed nisi fermentum venenatis. Sed ac ultricies nunc, vel venenatis ante. Quisque commodo placerat metus, in convallis quam interdum in. Suspendisse dapibus fringilla fringilla. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </div>
    <div class="col-md-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet velit vel eros tincidunt, vitae lacinia lorem placerat. Etiam commodo odio sed nisi fermentum venenatis. Sed ac ultricies nunc, vel venenatis ante. Quisque commodo placerat metus, in convallis quam interdum in. Suspendisse dapibus fringilla fringilla. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </div>
  </div>
  <div class="row about-sections">
    <div class="col-md-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet velit vel eros tincidunt, vitae lacinia lorem placerat. Etiam commodo odio sed nisi fermentum venenatis. Sed ac ultricies nunc, vel venenatis ante. Quisque commodo placerat metus, in convallis quam interdum in. Suspendisse dapibus fringilla fringilla. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </div>
    <div class="col-md-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet velit vel eros tincidunt, vitae lacinia lorem placerat. Etiam commodo odio sed nisi fermentum venenatis. Sed ac ultricies nunc, vel venenatis ante. Quisque commodo placerat metus, in convallis quam interdum in. Suspendisse dapibus fringilla fringilla. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </div>
  </div>
</div>