<div class="container">
  <div class="row">
    <div class="col-md-8 col-12">
      <h1>Feed</h1>
      <% if current_user.followings.count > 0 %>
        <% temp = false %>
        <% @posts.each do |post| %>
          <% if current_user.followings.include?(post.user) %>
            <% temp = true %>
            <div class="card">
              <div class="card-body">
                <strong><%= link_to post.title, post_path(post) %></strong>
                <p><%= time_ago_in_words(post.created_at) %></p>
                <p><%= post.description %></p>
                Created by: <%= link_to post.user.email, user_path(post.user) %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if temp == false %>
          <p>The users your following haven't made any posts</p>
        <% end %>
      <% else %>
        <p>You aren't following anyone</p>
      <% end %>
    </div>
  </div>
</div>