<h1>Feed</h1>
<ul>
  <hr>
  <% @posts.each do |post| %>
    <% if current_user.followings.include?(post.user) %>
      <li><strong><%= post.title %></strong></li>
      <li><%= post.description %></li>
      <li><%= post.user.email %></li>
      <%= link_to "View", post_path(post) %>
      <hr>
    <% end %>
  <% end %>
</ul>