<h1>Feed</h1>
<% if current_user.followings.count > 0 %>
  <% temp = false %>
  <ul>
    <hr>
    <% @posts.each do |post| %>
      <% if current_user.followings.include?(post.user) %>
        <% temp = true %>
        <li><strong><%= post.title %></strong></li>
        <li><%= post.description %></li>
        <li><%= post.user.email %></li>
        <%= link_to "View", post_path(post) %>
        <hr>
      <% end %>
    <% end %>
  </ul>
  <% if temp == false %>
    <p>The users your following haven't made any posts</p>
  <% end %>
<% else %>
  <p>You aren't following anyone</p>
<% end %>