@import 'bootstrap/dist/css/bootstrap';

body {
	font-family: 'Roboto', sans-serif;
}

footer {
	min-height: 200px;
	padding: 40px 0px;
	color: white;
}

.theme-1 {
	background-color: olivedrab;
}

.theme-2 {
	background-color: cornsilk;
}

.header {
	margin: 20px 0px;
	padding: 20px;
	background-color: white;
}

.header h2 {
	font-weight: 700;
	font-style: italic;
}

.sections {
	margin: 20px 0px;
	padding: 20px;
}

.section-header {
	margin: 0px 0px 10px 0px;
}

.section-info {
	padding-left: 10px;
}

.section-actions {
	margin-right: 10px;
}

.custom-spacing {
	margin-bottom: 10px;
}

.form {
	max-width: 500px;
}

.home {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(home.jpg);
	background-size: cover;
	color: white;
}

.about {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(home.jpg);
	background-size: cover;
	color: white;
	min-height: 200px;
	margin-bottom: 40px;
}

.about-sections {
	margin-bottom: 40px;
}

.alert {
	margin: 0px;
}

.btn-custom {
	color: white;
    background-color: seagreen;
    border-color: seagreen;
}

.badge-custom {
	color: white;
    background-color: seagreen;
}

.badge-link-custom {
	color: white;
}

.link-custom {
	color: seagreen;
}

.font-custom {
	font-weight: 700;
	font-style: italic;
}