@import 'bootstrap/dist/css/bootstrap';

footer {
	height: 200px;
}

.header {
	margin: 20px 0px;
	padding: 20px;
}

.posts {
	margin: 20px 0px;
	padding: 20px;
}

.post-header {
	margin: 0px 0px 10px 0px;
}

.post-info {
	padding-left: 10px;
}

.post-body {
	margin-bottom: 10px;
}

.post-author {
	margin-bottom: 10px;
}

.post-actions {
	padding-right: 10px;
}