@import 'bootstrap/dist/css/bootstrap';

body {
	font-family: 'Roboto', sans-serif;
}

footer {
	min-height: 200px;
	padding: 10px 0px;
	color: white;
}

.theme-1 {
	background-color: teal;
}

.theme-2 {
	background-color: whitesmoke;
}

.header {
	margin: 20px 0px;
	padding: 20px;
	background-color: white;
}

.sections {
	margin: 20px 0px;
	padding: 20px;
}

.section-header {
	margin: 0px 0px 10px 0px;
}

.section-info {
	padding-left: 10px;
}

.section-actions {
	margin-right: 10px;
}

.custom-spacing {
	margin-bottom: 10px;
}

.form {
	max-width: 500px;
}

.pop {
	margin-top: 10px;
}