#userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

#userProfile > h1 {
  margin-bottom: 2rem;
}

#userProfile > button {
  margin-bottom: 2rem;
}

#userProfile-list {
  width: 95vw;
  margin-bottom: 2rem;
}

#userProfile-pagination > span {
  padding: 0 1rem;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  #userProfile-list {
    width: 75vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  #userProfile-list {
    width: 55vw;
  }
}