#userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

#userProfile > h1 {
  margin-bottom: 2rem;
}

#userProfile > button {
  margin-bottom: 2rem;
}