<footer class="footer theme-1">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <span>Fusce ultricies elit ut nulla luctus, vestibulum vulputate lacus rhoncus. Nullam eu ligula a nisl laoreet vestibulum ut at metus. Donec rutrum quam a nisl placerat gravida. Praesent dui eros, interdum vitae dapibus a, tempus in dolor.</span>
      </div>
      <div class="col-4">
        <span>Fusce ultricies elit ut nulla luctus, vestibulum vulputate lacus rhoncus. Nullam eu ligula a nisl laoreet vestibulum ut at metus. Donec rutrum quam a nisl placerat gravida. Praesent dui eros, interdum vitae dapibus a, tempus in dolor.</span>
      </div>
      <div class="col-4">
        <%= link_to "About", about_path %>
      </div>
    </div>
  </div>
</footer>